<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <title>{% block title %}{% endblock %} - Doppelkopf</title>
</head>
<body>
  <header>
    <div class="bg-gray-100">
      <nav class="flex justify-between flex-wrap p-6 mb-4 container mx-auto">
        <div class="flex-shrink-0 text-gray-700 mr-6">
          <span class="font-semibold text-2xl tracking-tight">Doppelkopf</span>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="lg:flex-grow">
            <a href="/admin/toggles" class="block mt-4 lg:inline-block lg:mt-0 text-gray-700 hover:text-indigo-500 mr-4">
              Toggles
            </a>
            <a href="/logs" class="block mt-4 lg:inline-block lg:mt-0 text-gray-700 hover:text-indigo-500 mr-4">
              Logs
            </a>
            <a href="https://github.com/hamvocke/doppelkopf" class="block mt-4 lg:inline-block lg:mt-0 text-gray-700 hover:text-indigo-500 mr-4">
              GitHub
            </a>
            <a href="https://travis-ci.org/hamvocke/doppelkopf" class="block mt-4 lg:inline-block lg:mt-0 text-gray-700 hover:text-indigo-500 mr-4">
              Pipeline <img src="https://travis-ci.org/hamvocke/doppelkopf.svg?branch=master" alt="build status" class="inline-block ml-2">
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <section id="messages">
  {% for message in get_flashed_messages() %}
    <div class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3" role="alert">
      <p>{{ message }}</p>
    </div>
  {% endfor %}
  </section>

  <div class="container mx-auto text-gray-800">
    <ul class="flex text-sm text-gray-600 mb-5">
      {% block breadcrumb %}{% endblock %}
    </ul>

    {% block content %}{% endblock %}
  </div>
</body>
</html>
