<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <title>{% block title %}{% endblock %} - Doppelkopf</title>
</head>
<body>
  <header>
    <div class="bg-gray-100">
      <nav class="flex justify-between flex-wrap p-4 ">
        <div class="flex-shrink-0 text-gray-700 mb-2 sm:mb-0 sm:mr-6">
          <span class="font-bold text-2xl tracking-tight">Doppelkopf 🤖</span>
        </div>
        <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
          <div class="sm:flex-grow">
            <a href="/admin/toggles" class="inline-block mt-0 text-gray-700 hover:text-indigo-500 mr-4">
              Toggles
            </a>
            <a href="/logs" class="inline-block mt-0 text-gray-700 hover:text-indigo-500 mr-4">
              Logs
            </a>
            <a href="https://github.com/hamvocke/doppelkopf" class="inline-block mt-0 text-gray-700 hover:text-indigo-500 mr-4">
              GitHub
            </a>
            <a href="https://travis-ci.org/hamvocke/doppelkopf" class="inline-block mt-0 text-gray-700 hover:text-indigo-500 mr-4">
              Pipeline
            </a>
          </div>
          <img src="https://travis-ci.org/hamvocke/doppelkopf.svg?branch=master" alt="build status" class="inline-block mt-2 sm:mt-0">
        </div>
      </nav>
    </div>
  </header>

  <section id="messages">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == "error" %}
        <div class="flex items-center text-white text-sm font-bold px-4 py-3 mb-2 bg-red-500" role="alert">{{ message }}</div>
      {% else %}
        <div class="flex items-center text-white text-sm font-bold px-4 py-3 mb-2 bg-green-500" role="alert">{{ message }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
  </section>

  <div class="container mx-auto p-4 text-gray-800 max-w-full">
    <ul class="flex text-sm text-gray-600 mb-5">
      {% block breadcrumb %}{% endblock %}
    </ul>

    {% block content %}{% endblock %}
  </div>
</body>
</html>
