{% extends 'admin/base.html' %}

{% block title %}
Admin
{% endblock %}

{% block breadcrumb %}
<li class="mr-2 text-indigo-300">
  <a href="/admin">Admin</a>
</li>
{% endblock %}

{% block content %}
<div class="flex flex-row flex-wrap">
  <div class="m-2 p-4 flex items-center bg-gray-700 shadow-lg rounded-lg">
    <div class="flex flex-col items-center">
      <h2 class="text-4xl font-bold text-gray-100">
{{ stats.games_started }}
      </h2>
      <p class="mt-1 text-gray-400">Games started</p>
    </div>
    <div class="ml-8 text-gray-700">
      <canvas id="chart1" class="js-chart w-48" data-stats='{{ stats.games_started_weekly }}'></canvas>
    </div>
  </div>

  <div class="m-2 p-4 flex items-center bg-gray-700 shadow-lg rounded-lg">
    <div class="flex flex-col items-center">
      <h2 class="text-4xl font-bold text-gray-100">
{{ stats.games_won }}
      </h2>
      <p class="mt-1 text-gray-400">Games won</p>
    </div>
    <div class="ml-8 text-gray-700">
      <canvas id="chart2" class="js-chart w-48" data-stats='{{ stats.games_won_weekly }}'></canvas>
    </div>
  </div>

  <div class="m-2 p-4 flex items-center bg-gray-700 shadow-lg rounded-lg">
    <div class="flex flex-col items-center">
      <h2 class="text-4xl font-bold text-gray-100">
{{ stats.games_lost }}
      </h2>
      <p class="mt-1 text-gray-400">Games lost</p>
    </div>
    <div class="ml-8 text-gray-700">
      <canvas id="chart3" class="js-chart w-48" data-stats='{{ stats.games_lost_weekly }}'></canvas>
    </div>
  </div>

  <div class="m-2 p-4 flex items-center bg-gray-700 shadow-lg rounded-lg">
    <div class="flex flex-col items-center">
      <div class="rounded-full bg-green-400 h-5 w-5 m-6"></div>
      <p class="mt-1 text-gray-400 text-bold">DB Backup (WIP)</p>

    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" integrity="sha256-TQq84xX6vkwR0Qs1qH5ADkP+MvH0W+9E7TdHJsoIQiM=" crossorigin="anonymous"></script>

<script>
function createChart(id, data) {
  let dataPoints = data.map(entry => entry[1]);
  let labels = data.map(entry => entry[0]);

  var ctx = document.getElementById(id).getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',

      // The data for our dataset
      data: {
          labels: labels,
          datasets: [{
              label: 'Games started',
              borderColor: 'rgb(255, 99, 132)',
              backgroundColor: '#F56565',
              data: dataPoints,
              pointRadius: 1,
              lineTension: 0
          }]
      },

      // Configuration options go here
      options: {
        legend: {
          display: false
        },
        title: {
          display: false
        },
        animation: {
            duration: 0
        },
        scales: {
            xAxes: [{
              display: false,
            }],
            yAxes: [{
              display: false,
              ticks: {
                min: 0
              }
            }],
          }
      }
  });
}

let charts = document
  .querySelectorAll('.js-chart')
  .forEach(chart => {
    let d = chart.dataset.stats.replace(/'/g, "\"");
    createChart(chart.id, JSON.parse(d))
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
<script>
  var socket = io();
  console.log("trying to connect");

  socket.on("connect", () => {
    console.log("Connected")
  })
</script>
{% endblock %}
