<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <title>Login - Doppelkopf</title>
</head>

<body class="bg-gray-800 text-gray-300">
  <section id="messages">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == "error" %}
        <div class="flex items-center text-white text-sm font-bold px-4 py-3 mb-2 bg-red-500" role="alert">{{ message }}</div>
      {% else %}
        <div class="flex items-center text-white text-sm font-bold px-4 py-3 mb-2 bg-green-500" role="alert">{{ message }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
  </section>
  <section class="container mx-auto h-screen flex items-center justify-center">
    <form class="text-left flex flex-col items-start" action="{{ url_for('admin.login') }}" method="POST">
      <label for="password" class="text-lg font-bold my-2 mx-1">Password</label>
      <input type="hidden" name="name" value="admin">
      {% if error %}
      <input class="shadow-md appearance-none bg-gray-700 border border-red-600 rounded w-64 py-3 px-2 text-gray-300 mb-1 leading-tight outline-none focus:border-red-400"
        id="password"
        name="password"
        type="password" />
      <div class="text-sm text-red-600 italic m-1">{{ error }}</div>
      {% else %}
      <input class="shadow-md appearance-none bg-gray-700 border border-gray-900 rounded w-64 py-3 px-2 text-gray-300 mb-1 leading-tight outline-none focus:border-gray-600"
        id="password"
        name="password"
        type="password" />
      {% endif %}

      <button type="submit" class="bg-gray-700 rounded text-lg py-3 px-4 my-3 shadow-md hover:bg-gray-600 focus:border-gray-600 focus:outline-none border border-gray-900">Log In</button>
    </form>
  </section>
</body>
</html>
