{% extends 'admin/base.html' %}

{% block title %}
Toggles
{% endblock %}

{% block breadcrumb %}
<li class="mr-2">
  <a href="/admin">Admin</a>
</li> /
<li class="mx-2 text-gray-800">
  <a href="/admin/toggles">Toggles</a>
</li>
{% endblock %}

{% block content %}
<h2 class="text-2xl mb-2">Feature Toggles</h2>

<p class="text-sm text-gray-600 mb-6">
  Activate and deactivate features at runtime. Changes will be active for players once they reload the page.
</p>
<form action="#">
  <table class="table-auto w-full mb-6">
    <thead>
      <tr>
        <th class="px-4 py-2 text-left">Toggle</th>
        <th class="px-4 py-2 text-left">Description</th>
        <th class="px-4 py-2 text-left">Last change</th>
      </tr>
    </thead>
    {% for toggle in toggles %}
    <tr>
      <td class="border-t border-b p-4">
          <label class="flex items-center">
            <input type="checkbox" class="toggle mr-3">
            <i class="form-icon"></i> {{ toggle.name }}
          </label>
      </td>
      <td class="border-t border-b p-4">
        <span>{{ toggle.description }}</span>
      </td>
      <td class="border-t border-b p-4">
        {{ toggle.last_changed_at }}
      </td>
    </tr>
    {% endfor %}
  </table>


  <div class="flex w-full justify-end">
    <button class="btn-primary">
      Save Toggle State
    </button>

    <button class="btn-outline">
      Reset
    </button>
  </div>
</form>
{% endblock %}
