{% extends 'admin/base.html' %}

{% block title %}
Toggles
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href="#">Admin</a>
</li>
<li class="breadcrumb-item">
  <a href="#">Toggles</a>
</li>
{% endblock %}

{% block content %}
<h1>Feature Toggles</h1>
<p>Activate and deactivate features at runtime. Changes will be active for players once they reload the page.</p>
<form action="#">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Toggle</th>
        <th>Description</th>
        <th>Last change</th>
      </tr>
    </thead>
    {% for toggle in toggles %}
    <tr>
      <td>
        <div class="form-group">
          <label class="form-switch">
            <input type="checkbox">
            <i class="form-icon"></i> {{ toggle.name }}
          </label>
        </div>
      </td>
      <td>
        <span>{{ toggle.description }}</span>
      </td>
      <td>
        {{ toggle.last_changed_at }}
      </td>
    </tr>
    {% endfor %}
  </table>


  <div class="columns">
    <div class="column buttons">
    <button class="btn btn-primary">
      <i class="icon icon-check"></i> Save Toggle State
    </button>

    <button class="btn">
      <i class="icon icon-refresh"></i> Reset
    </button>
    </div>
  </div>
</form>
{% endblock %}
