{% extends 'admin/base.html' %}

{% block title %}
Toggles
{% endblock %}

{% block breadcrumb %}
<li class="mr-2">
  <a href="/admin">Admin</a>
</li> /
<li class="mx-2 text-indigo-600">
  <a href="/admin/toggles">Toggles</a>
</li>
{% endblock %}

{% block content %}
<h2 class="text-2xl mb-2">Feature Toggles</h2>

<p class="text-sm text-gray-600 mb-6">
  Activate and deactivate features at runtime. Changes will be active for players once they reload the page.
</p>
<form action="{{ url_for('admin.toggles_submit') }}" method="post">
  <table class="table-auto w-full mb-4 text-sm md:text-base">
    <thead>
      <tr>
        <th class="px-2 py-2 text-left">Toggle</th>
        <th class="px-2 py-2 text-left">Description</th>
        <th class="px-2 py-2 text-left">Last change</th>
      </tr>
    </thead>
    {% for toggle in toggles %}
    <tr>
      <td class="border-t border-b px-2 py-4">
          <label class="flex items-start flex-col md:flex-row md:items-center">
            <input type="checkbox"
                   class="toggle mb-2 md:mr-2 md:mb-0"
                   {% if toggle.enabled %}checked{% endif %}
                   id="{{ toggle.id }}"
                   name="{{ toggle.id }}">
            <span class="text-xs">{{ toggle.name }}</span>
          </label>
      </td>
      <td class="border-t border-b px-2 py-4">
        <span>{{ toggle.description }}</span>
      </td>
      <td class="border-t border-b px-2 py-4">
        {{ toggle.last_changed() }}
      </td>
    </tr>
    {% endfor %}
  </table>


  <div class="flex w-full justify-end">
    <button class="btn-primary" type="submit">
      Save Toggle State
    </button>

    <button class="btn-outline" type="reset">
      Reset
    </button>
  </div>
</form>
{% endblock %}
