localhost

root * /var/www
reverse_proxy /api/* http://backend:5000
reverse_proxy /admin http://backend:5000
reverse_proxy /admin/* http://backend:5000
reverse_proxy /static/* http://backend:5000
file_server
