.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/tests/unit/coverage/
frontend/tests/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
__pycache__/
.pytest_cache/
.mypy_cache/
.cache/
.env
*.sqlite
*.sqlite.bak
backend/db/
chromedriver.log
