version: '3'

services:
  backend:
    image: hamvocke/doppelkopf-backend:latest
    container_name: doppelkopf-backend
    volumes:
      - ./backend/db:/app/db
    networks:
      - app-network

  webserver:
    image: hamvocke/doppelkopf-web:latest
    container_name: doppelkopf-web
    environment:
      - APP_ENVIRONMENT # pass current env's APP_ENVIRONMENT variable to container
    depends_on:
      - backend
    volumes:
      - ./caddy_data:/data
      - ./frontend/Caddyfile.${APP_ENVIRONMENT}:/etc/caddy/Caddyfile
      - ./caddy_config:/config
    networks:
      - app-network

networks:
  app-network:
