[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"

[dev-packages]
black = "*"
pytest = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.7"
