[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sentry-sdk = {extras = ["flask"]}
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-socketio = "*"
eventlet = "*"
flask-cors = "*"

[dev-packages]
black = "*"
pytest = "*"
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
