[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
influxdb = "*"
sentry-sdk = {extras = ["flask"],version = "==0.7.13"}

[dev-packages]
black = "*"
pytest = "*"
mypy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
