@tailwind base;
@tailwind components;
@tailwind utilities;

a:focus {
  @apply outline-none shadow-outline;
}

.btn-primary {
  @apply bg-indigo-500 text-white font-bold py-2 px-4 rounded mr-2;
}

.btn-primary:hover, .btn-primary:active {
  @apply bg-indigo-700;
}

.btn-primary:focus {
  @apply outline-none shadow-outline;
}

.btn-outline {
  @apply bg-transparent text-indigo-500 font-semibold py-2 px-4 border border-indigo-500 rounded
}

.btn-outline:hover, .btn-outline:active {
  @apply bg-gray-100 text-indigo-700 border-indigo-700;
}

.btn-outline:focus {
  @apply outline-none shadow-outline;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 48px;
  height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  @apply bg-gray-500;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 18px;
  height: 18px;
  background: #fff;
  left: 3px;
  top: 3px;
  border-radius: 50%;
  font: 9px/20px sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -21px;
  word-spacing: 23px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  @apply bg-indigo-500;
}

.toggle:checked:before {
  left: 27px;
}

.toggle:focus {
  @apply shadow-outline;
}
