html, body {
  background: var(--blue);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  color: var(--shell);
}

p {
  text-align: left;
  line-height: 1.4em;
  color: var(--shell);
}

a {
  color: var(--red);
}

a:hover,
a:active,
a:focus {
  color: color(var(--red) tint(20%));
}

a:visited {
  color: color(var(--red) shade(20%));
}
