.button {
  padding: 18px;
  margin: 6px;
  color: var(--white);
  background: var(--red);
  border-radius: 6px;
  display: inline;
  font-size: 1.2em;
  border: none;
}

.button:hover,
.button:active,
.button:focus {
  background: color(var(--red) shade(20%));
}

.button.outline {
  background: none;
  border: 1px solid var(--red);
  color: var(--red);
}

.button.outline:hover,
.button.outline:active,
.button.outline:focus {
  border: 1px solid color(var(--red) shade(20%));
  color: color(var(--red) shade(20%));
}
