.button {
  padding: 12px 18px;
  margin: 6px;
  color: var(--white) !important;
  background: var(--red);
  border-radius: 6px;
  display: inline;
  font-size: 1.1em;
  border: none;
  text-decoration: none !important;
  display: inline-block;
  border-bottom: 5px solid color(var(--red) shade(30%));
}

.button:hover,
.button:active,
.button:focus {
  background: color(var(--red) shade(15%));
  cursor: pointer;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px color(var(--lightblue) alpha(40%));
}

.button:active {
  transform: scale(0.95, 0.95);
}

.button-secondary {
  color: var(--black) !important;
  background: var(--white);
  border-bottom-color: color(var(--white) shade(15%));
}

.button-secondary:hover,
.button-secondary:active,
.button-secondary:focus {
  background: color(var(--white) shade(5%));
  border-bottom-color: color(var(--white) shade(25%));
}
