:root {
  /* colors */
  --red: #e63946;
  --black: #1d3557;
  --lightblue: #457b9d;
  --white: #fefefe;
  --lightgray: #e6e8f2;
  --shell: #f5fbf5;
  --cyan: #a8dadc;


  /* z-index layers */
  --base-layer: 1;
  --popover-layer: 10;
  --modal-layer: 20;
  --notification-layer: 30;
  --flash-layer: 40;
}
